body {
    margin: 0%;
}

p,
a {
    font-family: "Calibri";
}

h1,
h2 {
    font-family: "Century Gothic";
    display: flex;
    justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Century Gothic";
}


nav {
    display: flex;
    gap: 200px;
    background-color: #94BEE6;
    width: 100%;
    align-items: center;

}

nav a {
    color: #000000;
    text-decoration: none;
    padding: 15px;
    font-size: 170%;
}
.video{
    display: flex;
    justify-content: center;
}
.navigasjon {
    display: flex;
    justify-content: center;
    width: 77%;
    gap: 500px;

}


.Hovedbilde {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.hovedbildediv {
    overflow-y: hidden;
   
    
}
.hedder{
    font-family: "Century Gothic";
text-decoration: none;
color: #000000;
display: flex;
justify-content: center;
font-size: 40px;
background-color: #94BEE6   ;
}
.bilder {
    display: flex;
    justify-content: space-between;
    /* gap: 300px; */
    width: 80%;

}

.bilder div img {
    width: 25vw;
}

.bildersentrere {
    display: flex;
    justify-content: space-around;
}

.bilder img {
    width: 500px;

}

.bilder p {
    text-align: center;
}

.logo {
    float: left;
    height: 50px;
}

.teksttilbilder {
    display: flex;
    justify-content: space-between;


}

#Omlacrosse {
    display: flex;
    justify-content: center;
    font-size: 150%;
    padding: 2rem;
    width: 50%;
}

.omlacrosse {
    display: flex;
    justify-content: center;
}

#Kontaktinfo {
    display: flex;
    justify-content: space-between;
    gap: 200px;
    background-color: #000000;
    padding: 50px;
    color: white;

}

#Kontaktinfo p {
    text-align: center;
}

#treningstider {
    display: flex;
    justify-content: center;
    text-align: left;
}

.tekstinfo {
    display: flex;
    flex-direction: column;

    border: 2px solid #94BEE6;
    padding: 2rem;
    width: 50%;
}

.tekstinfo h4 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.tekstinfo p {
    margin-bottom: 0%;
    text-wrap: wrap;
}
.tekstinfo a{
    text-decoration: none;
    color: #000000;

}

.textinfoalle {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: 60vh;
}

.logoinfo {
    display: flex;
    justify-content: center;
}

#overskriftinfo {
    display: flex;
    justify-content: center;
    color: #94BEE6;
}

.blimedpotreningbilde {
    display: flex;
    justify-content: right;
    height: 65vh;
    width: 60vh;

}


#text-image-duo {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;

}